In [1]:
import pandas as pd
import pandas as pd
from sklearn.datasets import load_boston
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')
import seaborn as sns

In [4]:
data=load_boston()
df=pd.DataFrame(data.data,columns=data.feature_names)

In [3]:
df.columns

Index(['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX',
       'PTRATIO', 'B', 'LSTAT'],
      dtype='object')

In [5]:
df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [7]:
x=df.drop("LSTAT",axis=1)
y=df["LSTAT"]

In [8]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=0)

In [9]:
def corelation(dataset,threshold):
    col_corr=set()
    corr_matrix=dataset.corr()
    for i in range(len(corr_matrix.columns)):
        for j in range(i):
            if(abs(corr_matrix[i,j])>threshold):
                colname=corr_matrix.columns[i]
                col_corr.add(colname)
        return col_corr

In [10]:
corr_features=corelation(x_train,0.7)
len(set(corr_features))

0

In [11]:
x_train.drop(corr_features,axis=1)
x_test.drop(corr_features,axis=1)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B
329,0.06724,0.0,3.24,0.0,0.460,6.333,17.2,5.2146,4.0,430.0,16.9,375.21
371,9.23230,0.0,18.10,0.0,0.631,6.216,100.0,1.1691,24.0,666.0,20.2,366.15
219,0.11425,0.0,13.89,1.0,0.550,6.373,92.4,3.3633,5.0,276.0,16.4,393.74
403,24.80170,0.0,18.10,0.0,0.693,5.349,96.0,1.7028,24.0,666.0,20.2,396.90
78,0.05646,0.0,12.83,0.0,0.437,6.232,53.7,5.0141,5.0,398.0,18.7,386.40
...,...,...,...,...,...,...,...,...,...,...,...,...
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90
428,7.36711,0.0,18.10,0.0,0.679,6.193,78.1,1.9356,24.0,666.0,20.2,96.73
385,16.81180,0.0,18.10,0.0,0.700,5.277,98.1,1.4261,24.0,666.0,20.2,396.90
308,0.49298,0.0,9.90,0.0,0.544,6.635,82.5,3.3175,4.0,304.0,18.4,396.90
5,0.02985,0.0,2.18,0.0,0.458,6.430,58.7,6.0622,3.0,222.0,18.7,394.12

## Drop Constant Features using Variance Threshold(VIF)

In [14]:
## Variance Threshold removes all the low variance features

In [2]:
from sklearn.feature_selection import VarianceThreshold

In [7]:
## It will remove the zero variance feature. Quasi constant features dropping
var_thresh=VarianceThreshold(threshold=0)
var_thresh.fit(df)

VarianceThreshold(threshold=0)

In [8]:
constant_column=[column for column in df.columns if column not in df.columns[var_thresh.get_support()]]

In [9]:
print(len(constant_column))

0

In [10]:
var_thresh.get_support()

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True])

In [11]:
for feature in constant_column:
    print(feature)

In [13]:
df.drop(constant_column,axis=1)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33
...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0.0,0.573,6.593,69.1,2.4786,1.0,273.0,21.0,391.99,9.67
502,0.04527,0.0,11.93,0.0,0.573,6.120,76.7,2.2875,1.0,273.0,21.0,396.90,9.08
503,0.06076,0.0,11.93,0.0,0.573,6.976,91.0,2.1675,1.0,273.0,21.0,396.90,5.64
504,0.10959,0.0,11.93,0.0,0.573,6.794,89.3,2.3889,1.0,273.0,21.0,393.45,6.48
505,0.04741,0.0,11.93,0.0,0.573,6.030,80.8,2.5050,1.0,273.0,21.0,396.90,7.88

## Information Gain

In [15]:
import pandas as pd
from sklearn.feature_selection import mutual_info_classif
from sklearn.model_selection import train_test_split

In [16]:
df.columns

Index(['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX',
       'PTRATIO', 'B', 'LSTAT'],
      dtype='object')

In [18]:
df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [19]:
df.dropna(inplace=True)

In [30]:
df_inf[['fixed acidity', 'volatile acidity', 'citric acid',
       'residual sugar', 'chlorides', 'free sulfur dioxide',
       'total sulfur dioxide', 'density', 'pH', 'sulphates', 'alcohol','quality']].astype('int16')

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7,0,0,20,0,45,170,1,3,0,8,6
1,6,0,0,1,0,14,132,0,3,0,9,6
2,8,0,0,6,0,30,97,0,3,0,10,6
3,7,0,0,8,0,47,186,0,3,0,9,6
4,7,0,0,8,0,47,186,0,3,0,9,6
...,...,...,...,...,...,...,...,...,...,...,...,...
6491,6,0,0,1,0,28,38,0,3,0,9,6
6492,6,0,0,2,0,32,44,0,3,0,10,5
6494,6,0,0,2,0,29,40,0,3,0,11,6
6495,5,0,0,2,0,32,44,0,3,0,10,5
6496,6,0,0,3,0,18,42,0,3,0,11,6

In [31]:
x_train,x_test,y_train,y_test=train_test_split(df.drop(labels=['quality','type'],axis=1),df_inf['quality'],test_size=0.3)

In [32]:
## we will not get negative values. The higher the value the dependency is high
mutual_info=mutual_info_classif(x_test,y_test)

In [33]:
mutual_info=pd.Series(mutual_info)
mutual_info.index=x_train.columns
mutual_info.sort_values(ascending=False)

alcohol                 0.144679
density                 0.094196
chlorides               0.065368
total sulfur dioxide    0.062286
residual sugar          0.057329
volatile acidity        0.054745
sulphates               0.038271
citric acid             0.030373
fixed acidity           0.027072
free sulfur dioxide     0.006364
pH                      0.000000
dtype: float64

In [34]:
## we can do for percetiles as well
mutual_info.sort_values(ascending=False).plt.bar(figsize=(10,10))

AttributeError: 'Series' object has no attribute 'plt'

## SelectKBest

In [35]:
from sklearn.feature_selection import SelectKBest
sk=SelectKBest(mutual_info,k=5)
sk.fit(x_train.fillna(0),y_train)
x_train.columns[sk.get_support()]

TypeError: The score function should be a callable, fixed acidity           0.027072
volatile acidity        0.054745
citric acid             0.030373
residual sugar          0.057329
chlorides               0.065368
free sulfur dioxide     0.006364
total sulfur dioxide    0.062286
density                 0.094196
pH                      0.000000
sulphates               0.038271
alcohol                 0.144679
dtype: float64 (<class 'pandas.core.series.Series'>) was passed.